<ion-view view-title="Status">
  <ion-content class="padding">

    <div class="card">
      <div class="item item-divider">
        Server
      </div>
      <div class="item item-text-wrap">
        <p>
          Status:
          <span ng-if="server.isOnline"><i class="ion-flash balanced"></i> Online</span>
          <span ng-if="!server.isOnline"><i class="ion-flash-off assertive"></i> Offline</span>
        </p>
        <p>URL: {{server.url}}</p>
      </div>
    </div>

  </ion-content>
</ion-view>
